.banner {
    background: url(https://cdn.pixabay.com/photo/2019/01/11/06/46/mountain-silhouette-3926582_640.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

.container-footer {
    text-align: center center;
    background-color: black;
    background-size: cover;
    padding-bottom: 0%;
    padding-top: 1%;
}

.tim img {
    width: 300px;
}

.gallery-thumb,
.people-thumb {
    margin-bottom: 24px;
}

.gallery-thumb-small {
    height: 100%;
}

.gallery-thumb-small .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}